<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="I'm Levi, a senior web developer.  Check out my work, I'd love to chat." />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Levi Thomason - Senior Web Developer</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/main.css">
  <script src="/main.js"></script>
</head>
<body>
  <nav class="top-nav">
    <div class="container">
      <ul>
        <li class="brand">Levi Thomason</li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#organizations">Organizations</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <section id="projects">
    <div class="container">
      <h1>Projects</h1>
      <p class="lead">
        Here's a sample of my public work.
        There's a ton more, <a href="#contact">reach out</a> if you'd like to see it.
      </p>
      <div class="projects">
        {{#projects}}
          <div class="project">
            <div class="preview">
              <img src="{{image}}" alt="{{name}} screenshot">
            </div>
            <div class="content">
              <h2 class="name">
                {{name}}
                <span class="subheader">{{when}}</span>
              </h2>
              <p class="answer">
                <strong class="question">Why?</strong> {{why}}
              </p>
              <p class="answer">
                <strong class="question">How?</strong> {{how}}
              </p>
              <p class="answer">
                <strong class="question">Technologies:</strong> {{#technologies}}{{.}}, {{/technologies}} and many
                others.
              </p>

              <div class="links">
                {{#github}}
                  <a class="button" href="{{github}}">
                    <i class="fa fa-code"></i> Code
                  </a>
                {{/github}}
                {{#demo}}
                  <a class="button" href="{{demo}}">
                    <i class="fa fa-gamepad"></i> Demo
                  </a>
                {{/demo}}
                {{#docs}}
                  <a class="button" href="{{docs}}">
                    <i class="fa fa-book"></i> Docs
                  </a>
                {{/docs}}
              </div>
            </div>
          </div>
        {{/projects}}
      </div>
    </div>
  </section>

  <section id="open-source">
    <h1>Open Source</h1>
    <div class="container">
      <p class="lead">
        I'm active in the community. See more in my
        <a href="https://github.com/levithomason?language=&page=1&q=&tab=repositories&type=fork">
          <i class="fa fa-code-fork"></i> forks
        </a>
        on GitHub.
      </p>
      <div class="open-source">
        <div class="repo">
          <h4>
            <a href="https://github.com/karma-runner/karma">
              <i class="fa fa-github"></i> Karma
            </a>
          </h4>
          <div class="role">Merged some features.</div>
        </div>
        <div class="repo">
          <h4>
            <a href="https://github.com/Semantic-Org">
              <i class="fa fa-github"></i> Semantic Org
            </a>
          </h4>
          <div class="role">I'm an admin.</div>
        </div>
        <div class="repo">
          <h4>
            <a href="https://github.com/less/less.js">
              <i class="fa fa-github"></i> LESS
            </a>
          </h4>
          <div class="role">Merged some features.</div>
        </div>
        <div class="repo">
          <h4>
            <a href="https://github.com/mikeal/watch">
              <i class="fa fa-github"></i> watch
            </a>
          </h4>
          <div class="role">I'm a contributor.</div>
        </div>
        <div class="repo">
          <h4>
            <a href="https://github.com/shelljs/shx">
              <i class="fa fa-github"></i> shx
            </a>
          </h4>
          <div class="role">Initial setup and tests.</div>
        </div>
        <div class="repo">
          <h4>
            <a href="https://github.com/bgrins/TinyColor">
              <i class="fa fa-github"></i> TinyColor
            </a>
          </h4>
          <div class="role">Merged many features and helped plan the v1 API.</div>
        </div>
      </div>
    </div>
  </section>

  <section id="organizations">
    <div class="container">
      <h1>Organizations</h1>
      <p class="lead">
        I'm a team leader and community leader.
        I enjoy bringing people together and fostering collective growth.
      </p>
      <div class="organizations">
        {{#organizations}}
          <div class="organization">
            <div class="preview">
              <img src="{{image}}" alt="{{name}} screenshot">
            </div>
            <div class="content">
              <h2 class="name">
                {{name}}
                <span class="subheader">{{when}}</span>
              </h2>
              <p class="answer">
                <strong class="question">Why?</strong> {{why}}
              </p>
              <p class="answer">
                <strong class="question">How?</strong> {{how}}
              </p>
              <div class="links">
                <a class="button" href="{{link}}">
                  <i class="fa fa-link"></i>
                  Site
                </a>
              </div>
            </div>
          </div>
        {{/organizations}}
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <h1>About</h1>
      <p class="lead">
        Hi, I'm Levi.
        <br>
        <br>
        I've been building and leading teams for <strong data-since-year="2010">7 years</strong>.
        I love <strong>remote work</strong>.
        I have what it takes to <strong>build and lead</strong> effective <strong>remote teams</strong>.
        <br>
        <br>
        I'm a second generation software engineer and confessed problem-solving addict.
        I've been writing code for <strong data-since-year="2004">13 years</strong>.
        I've been a <strong>web developer</strong> for <strong data-since-year="2012">5 years</strong>.
        My background is in <strong>design</strong> and <strong>project management</strong>.
        <br>
        <br>
        I build <strong>web apps</strong>.
        My passion is <strong>front end development</strong>.
        I love simple <strong>UX</strong> and beautiful <strong>UI</strong>.
        I know <strong>Photoshop</strong> and <strong>Illustrator</strong>.
        <br>
        <br>
        I am at home in <strong>vanilla JavaScript</strong> and <strong>Node.js</strong>.
        I also know <strong>JavaScript frameworks</strong>, like <strong>React</strong> and <strong>AngularJS</strong>
        on the front end and <strong>Express</strong> on the back.

        I do build systems like <strong>Webpack</strong> and <strong>Gulp</strong>.

        I write <strong>tests</strong> and abide by <strong>TDD</strong> and <strong>BDD</strong>.
        <br>
        <br>
        I am fluent in writing, designing, and using off the shelf front end frameworks.
        I am proficient with <strong>Bootstrap</strong> and <strong>Semantic UI</strong>.
        I am skilled with preprocessors like <strong>SASS</strong> and <strong>LESS</strong>.
        I'm also into <a href="https://github.com/MicheleBertoli/css-in-js"><strong>CSS-in-JS</strong></a> solutions.
        <br>
        <br>
        I know some <strong>Python</strong> and <strong>Django</strong>, too.
        <br>
        <br>
        There's a whole host of other tools in my toolbox proportional to my experience. Contact me if you'd like to
        hear more about those.
        <br>
        <br>
        Cheers!
      </p>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h1>Contact</h1>
      <p class="lead">
        I'd <strong>love</strong> to chat.
        I'm looking for <strong>problems worth solving</strong>,
        a place that will <strong>challenge me</strong>, and a place where I can <strong>grow</strong>.
        <br>
        <br>
        Let's do something awesome.
      </p>
      <p>
        <a class="button show-phone">
          <i class="fa fa-phone-square"></i>
          Show my number
        </a>
        <a class="button" href="mailto:me@levithomason.com">
          <i class="fa fa-envelope"></i>
          me@levithomason.com
        </a>
        <a class="button" href="https://linkedin.com/in/levithomason">
          <i class="fa fa-linkedin-square"></i>
          LinkedIn
        </a>
        <a class="button" href="https://github.com/levithomason">
          <i class="fa fa-github"></i>
          GitHub
        </a>
      </p>
    </div>
  </section>
</body>
</html>
